
.main{
    margin-top:30px;
}

h1{
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
h2{
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}


.left1{
    float: left;
    width: 50%;
}
.right1{
    float: right;
    width: 50%;
}
/*.pic{*/
/*    border: 1px solid black;*/
/*    padding: 30px;*/
/*    border-radius: 30%;*/
/*    float: left;*/
/*}*/

.left2{
    width: 500px;
    float: left;
}
.right2{
    width: 600px;
    background-color: lightblue;
    float: right;
}
.piccty{
    width: 252px;
    height: 88px;
}
a{
    font-weight: 700;
    font-size: 30px;
}
.text2{
    font-weight: 700;
}
.h5{
    color: deepskyblue;
    font-size: 20px;
}
.chu1{
    font-weight: 700;
    text-align: center;
    padding-top: 30px;
    color: #7125f1;
    font-size: 30px;
}
.chu2{
    text-align: center;


}


/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
    background-color:orange;
    color: white;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 280px;

    font-size: 15px;
}

/* Ẩn chatbox mặc định */
.Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Thêm style cho form */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* thiết lập style textarea */
.form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}

/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Sthiết lập style cho nút trong form*/
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
    background-color: red;
}

/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
}

